---
import Layout from "../../layouts/Layout.astro";

const noticias = [
  {
    title: "Remesas en Bolivia bajaron US$ 62 millones en el primer semestre del año",
    link: "https://www.americaeconomia.com/economia-y-mercados/remesas-en-bolivia-bajaron-us-62-millones-en-el-primer-semestre-del-ano",
    image: "https://www.americaeconomia.com/sites/default/files/styles/1280x720/public/2024-09/reuters_remesas.jpg?itok=d1V2xTgi",
  },
  
   {
    title: "VER MAS……..",
    link: "https://www.eldiario.net/portal/2024/09/18/exportadores-exigen-mas-acuerdos-comerciales-para-productos-bolivianos/",
    image: "https://www.fundacionhechoenbolivia.com/fundacionhb/wp-content/uploads/2021/07/object1092908693.gif",
  },

  
];
---

<Layout>
  <section class="max-w-6xl mx-auto px-4 py-16">
    <h1 class="text-5xl font-bold mb-12 text-center">Noticias Nacionales</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      {noticias.map(({ title, link, image }) => (
        <a
          href={link}
          target="_blank"
          rel="noopener noreferrer"
          class="block rounded-lg overflow-hidden shadow-lg hover:shadow-2xl transition-shadow duration-300"
        >
          <img src={image} alt={title} class="w-full h-48 object-cover" />
          <div class="p-4 bg-white">
            <h2 class="text-lg font-semibold text-center">{title}</h2>
          </div>
        </a>
      ))}
    </div>
  </section>
</Layout>
